<link rel="stylesheet"  type="text/css" href="/assets/delivery/supWaybill.css" />
<link rel="stylesheet" type="text/css" href="/assets/delivery/investory-receive.css"/>
<script src="/assets/deliery-send-receive.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#pick-part-info-box").draggable();
		$(".closebt").bind('click', function() {
			hide_inspect_box();
		});
	}); 
	function hide_inspect_box () {
	  $("#pick-part-info-box").hide();
	  $("#check-desc-input").val("");
	  $("#pack-return-checkbox").attr("checked",false);
	}
</script>
<div class="input-mix">
	<span class="uploadfile">运单号：</span> 
	<input type="text" name="delivery-up-tx" class="uploadfile delivery-up-tx"  id="dnKey" value="<%= @params[:dnKey]%>"/>
	<input type="button" name="delivery-up-btn" class="btupload" value="提交" onclick="redirect_delivery_action('inspect');"/>
</div>
<div id="accept-list-div">
	<%if @msg
	if @msg.result%>
	<input type="hidden" value="<%= @dn.key%>" id="dnkey-hidden" name="dnKey">
	<table class="delivery-check">
		<tr  class="lineone">
			<th>&nbsp;</th>
			<th>箱号</th>
			<th>客户零件号</th>			
			<th>质检策略</th>
		    <th>运输状态</th>
			<th>是否异常</th>
			<th>质检完成</th>
			<th>
			<input type="button" class="1" id="check-all"  name="all-chosen" onclick="check_all();" value="全选"/>
			</th>
		</tr>
		<%i=0
		@list.each do |pack|
		%>
		<tr class="norline">
			<th><%= (i+=1)%></th>
			<th style="text-align:left;" id="pack-key-th-<%= pack.id%>"><%= pack.key%></th>
			<th style="text-align:center;"><%= pack.cpartNr%></th>
			<th> <%= DeliveryHelper::get_pack_check_inspect(pack.needCheck)%> </th>
			<th>
			<div class="<%= DeliveryHelper::get_dn_wayState_css(pack.wayState)%>"  id="waystate-th-<%= pack.id%>">
				<%= DeliveryHelper::get_dn_wayState(pack.wayState)%>
			</div></th>
			<th>
			<div class="<%= DeliveryHelper::get_delivery_obj_state_css(pack.state)%>" id="state-th-<%= pack.id%>">
				<%= DeliveryHelper::get_delivery_obj_state(pack.state)%>
			</div></th>
			<th><div  id="check-th-<%= pack.id%>"> <%= pack.checked ? "是":"否"%> </div></th>			
			 <th id="operate-th-<%= pack.id%>">
			 	<%if pack.can_inspect and !pack.checked%>
			<input class="id-check" id="<%= pack.id%>" type="checkbox"/>
			<%else%>
			  已操作
			<%end%>
			</th>
		</tr>
		<%
		end%>
		</tr>
	</table>
	<div class="button-group">
		<input type="button" value="通过" onclick="pack_inspect(100,1);">
		<input type="button" value="未通过" onclick="pop_pack_inspect(event);">
		<input type="button" value="整单退货" onclick="return_delivery_note();">
	</div>

	<%= render :partial => "shared/handling_msg_box", :locals => { :handlemsg => "正在处理中，请稍后..." } %>
	
<div id="pick-part-info-box" class="info-box inspect-input-box">
	<div class="closebt"></div>
	<div class="info-box-title">
		<span>质检数据填写</span>
	</div>
	<div class="info-box-body">		
		 <span>质检类型：<%= select_tag :inspect_type,options_for_select(@inspects)%></span>
		 <span>执行退货：<input type="checkbox" id="pack-return-checkbox" no-all-check="true"/></span>
		 <span>质检备注：<textarea id="check-desc-input"/></textarea></span>
		<input type="button" value="确 定"  onclick="abnormal_pack_inpect();" 
		class="btupload search-btn"/>
	</div>
</div>

	<%else%>
	<div class="abstractblock">
		<%= @msg.content.html_safe%>
	</div>
	<%end
	end%>
</div>

