<link rel="stylesheet"  type="text/css" href="/assets/delivery/supWaybill.css" />
<link rel="stylesheet" type="text/css" href="/assets/delivery/investory-receive.css"/>
<script src="/assets/deliery-send-receive.js" type="text/javascript"></script>
<div class="input-mix">
	<span class="uploadfile">运单号：</span>
	<input type="text" name="delivery-up-tx" class="uploadfile delivery-up-tx" id="dnKey" value="<%= @params[:dnKey]%>"/>
	<select id="type" class="uploadfile select" >
		<option value="0">全部</option>
		<option value="1">入库单</option>
		<option value="2">质检单</option>
	</select>
	<span class="uploadfile">仓库：</span><%= select_tag :wares,options_for_select(@wares),{:class=>'uploadfile select'}%>
	<input type="button" name="delivery-up-btn" class="btupload" value="查看" onclick="redirect_delivery_action('instore',{'type':document.getElementById('type').selectedIndex,'ware':document.getElementById('wares').value});"  >
</div>
<div id="accept-list-div">
	<%if @msg
	if @msg.result%>
	<input type="hidden" value="<%= @dn.key%>" id="dnkey-hidden" name="dnKey">
	<table class="delivery-check">
		<tr  class="lineone">
			<th>&nbsp;</th>
			<th>箱号</th>
			<th>客户零件号</th>
			<th>运输状态</th>
			<th>是否异常</th>
			<th>检验策略</th>
			<th>已质检</th>
			<th>已入库</th>
			<th>库位</th>
		</tr>
		<%i=0
		@list.each do |pack|
		%>
		<tr class="norline">
			<th><%= (i+=1)%></th>
			<th style="text-align:left;" id="pack-key-th-<%= pack.id%>"><%= pack.key%></th>
			<th style="text-align:center;"><%= pack.cpartNr%></th>
			<th>
			<div class="<%= DeliveryHelper::get_dn_wayState_css(pack.wayState)%>" id="waystate-th-<%= pack.id%>">
				<%= DeliveryHelper::get_dn_wayState(pack.wayState)%>
			</div></th>
			<th>
			<div class="<%= DeliveryHelper::get_delivery_obj_state_css(pack.state)%>" id="state-th-<%= pack.id%>">
				<%= DeliveryHelper::get_delivery_obj_state(pack.state)%>
			</div></th>
			<th> <%= DeliveryHelper::get_pack_check_inspect(pack.needCheck)%> </th>
			<th>
			<div  id="check-th-<%= pack.id%>">
				<%= pack.checked ? "是":"否"%>
			</div></th>
			<th>
			<div  id="store-th-<%= pack.id%>">
				<%= pack.stored ? "是":"否"%>
			</div></th>
			<th id="operate-th-<%= pack.id%>"> <%if pack.stored%>
			 <%= pack.posi%>
			<%elsif pack.can_instore%>
			<input id="<%= pack.id%>" type="input" class="position uploadfile" />
			<%end%> </th>
		</tr>
		<%
		end%>
		</tr>
	</table>
	<%else%>
	<div class="abstractblock">
		<%= @msg.content%>
	</div>
	<%end
	end%>
</div>
<script type="text/javascript">
$(document).ready(function() {  
	var t = document.getElementById('type');
	var i = <%= @params[:type].nil? ? 0 : @params[:type].to_i%>;
t.selectedIndex=i>t.length? 0 : i;
var w=document.getElementById('wares');
i= <%= @params[:ware].nil? ? 0 : @params[:ware].to_i%>;
	for(var j=0;j<w.length;j++){
		if(w[j].value==i){			
			w.selectedIndex=j;
			break;
		}
	}
	var positions = $(".position");
	if (positions.length > 0) {
		positions[0].focus();
	}
	for (var i=0; i< positions.length;i++) {
		posi=$(positions[i]);
		 posi.bind('keypress', {
			id :  posi.attr('id')
		}, function(event) {
			var e = event ? event : (window.event ? window.event : null);
			if (e.keyCode == 13) {	
				 pack_in_store($("#dnkey-hidden").val(),e.data.id,$("#"+e.data.id).val(),document.getElementById('wares').value);
			}
		});
	}
});
</script>

