<link rel="stylesheet"  type="text/css" href="/assets/delivery/supWaybill.css" />
<link rel="stylesheet" type="text/css" href="/assets/delivery/investory-receive.css"/>
<script src="/assets/deliery-send-receive.js" type="text/javascript"></script>

<div id="accept-list-div">
	<%if @msg
	if @msg.result%>
	<table class="delivery-check">
		<tr  class="lineone">
			<th>&nbsp;</th>
			<th>箱号</th>
			<th>客户零件号</th>
			<th>供应商零件号</th>
			<th>单位包装量</th>
			<th>运输状态</th>
			<th>是否异常</th>
		</tr>
		<%i=0
		@list.each do |pack|
		per=FormatHelper.string_to_int(pack.perPackAmount.to_s)
		%>
		<tr class="norline">
			<th><%= (i+=1)%></th>
			<th style="text-align:left;"><%= pack.key%></th>
			<th style="text-align:center;"><%= pack.cpartNr%></th>
			<th style="text-align:center;"><%= pack.spartNr%></th>
			<th><%= per%></th>
			<th>
			<div class="<%= DeliveryHelper::get_dn_wayState_css(pack.wayState)%>">
				<%= DeliveryHelper::get_dn_wayState(pack.wayState)%>
			</div></th>
			<th>
			<div class="<%= DeliveryHelper::get_delivery_obj_state_css(pack.state)%>"
			<%= "onmouseover=get_info_card(event,#{pack.id},'item_state',2); onmouseout=hide_info_card();" if DeliveryHelper::can_show_abnormal_pack(pack.state)%>>
				<%= DeliveryHelper::get_delivery_obj_state(pack.state)%>
			</div></th>
		</tr>
		<%
		end%>
		</tr>
	</table>
	<div class="tooltip-content" style="display: none;">
		<div id="tooltip-content-prepare">
			<img class="pull-right" src="/assets/loading.gif" style="margin:0 30px 0 -30px" width="22px" height="22px" alt="稍等一下">
			<p>
				努力为您加载中
			</p>
		</div>
		<div id="tooltip-content-detail"></div>
	</div>

	<%else%>
	<div class="abstractblock">
		<%= @msg.content%>
	</div>
	<%end
	end%>
</div>

