
	<table class="upData">
		<tr class="lineone">
			<% if session[:orgOpeType]==OrgOperateType::Client %>
				<th link="supplier_float" style="cursor: pointer" >供应商号</th>
			<% else %>
				<th link="client_float" style="cursor: pointer" >客户号</th>
			<% end %>
			<th link="partNr_float" style="cursor: pointer" >零件号</th>
			<th link="date_float" style="cursor: pointer" >日期</th>
			<th link="type_float" style="cursor: pointer" >预测类型</th>
		</tr>
		<tr class="divide" style="display: none">
			<th class="nordvd"></th>
			<th class="nordvd"></th>
			<th class="nordvd"></th>
			<th class="nordvd"></th>
		</tr>
		<% @demands.each do |d|	%>
		  <tr class="norline hoverable">
			<% if session[:orgOpeType]==OrgOperateType::Client %>
				<th><%= d.supplierNr %></th>
				<th><%= d.cpartNr%></th>
			<% else %>
				<th><%= d.clientNr %></th>
				<th><%= d.spartNr%></th>
			<% end %>
			<th><%= d.date%></th>
			<th><%= d.type%></th>
			<th>  <input type="button" value="Chart" onclick="chart_history('<%= d.key%>');" />
			</th>
		  </tr>
		<% end %>
	</table>
	<hr/>
	<div class="census">共 <%= @total %> 条</div>
	<%=bri_pager options={:class=>"pagination",:pages=>@totalPages,:current=>@currentPage,:action=>'chart_search',:target=>@options}%>