
	<table class="upData">
		<tr class="lineone">
			<th>订单号</th>
			<% if session[:orgOpeType]==OrgOperateType::Client %>
				<th>供应商号</th>
			<% else %>
				<th>客户号</th>
			<% end %>
			<th>零件号</th>
			<th>截止日期</th>
			<th>总量</th>
			<th>完成进度</th>
		</tr>
		<tr class="divide" style="display: none">
			<th class="nordvd"></th>
			<th class="nordvd"></th>
			<th class="nordvd"></th>
			<th class="nordvd"></th>
		</tr>
		<% @orderitems.each do |o, d|	%>
		  <tr class="norline hoverable">
		  	<th><%= o.orderNr%></th>
			<% if session[:orgOpeType]==OrgOperateType::Client %>
				<th><%= d.supplierNr %></th>
				<th><%= d.cpartNr%></th>
			<% else %>
				<th><%= d.clientNr %></th>
				<th><%= d.spartNr%></th>
			<% end %>
			<th><%= d.date%></th>
			<th><%= d.amount%></th>
			<th>
				<div class="orderprogress_baseline">
					<div class="orderprogress_receipt" style="width:<%= (o.receipt/o.total) *100 %>%"><span style="display: none">已接收</span></div>
					<div class="orderprogress_transit" style="width:<%= (o.transit/o.total) *100 %>%"><span style="display: none">在途</span></div>
				</div>
			</th>
		  </tr>
		<% end %>
	</table>
