	
	
<p style="color: #1297cf"><%= notice%></p>
<br/>
<h1>当前用户</h1>

<hr/>
<div id="result">
		<div>
				<label>用户名：</label><%= @staff.name %>
				<br/>
				<label>隶属公司：</label><%= @cz_org.name %>
		</div>
</div>
<hr/>

		<%= button_tag '修改密码',:name=>"edit",:type=>'button',:onclick=>"user_edit();"%>
<!-- 		<%= button_tag '修改',:name=>"modify",:type=>'button',:onclick=>"organisation_edit_submit();",:style=>"display:none"%> -->


<script type="text/javascript">
function user_edit() {
	$.get("../user/edit", function(data) {
		$('button[name=edit]').hide();
		$("#result").html(data);
	}, "html");
}

</script>
