<%if partRels%>
<table class="partsData">
     <tr class="titline">
          <th>&nbsp;</th>
          <th>内部零件号</th>
          <th>客户零件号</th>
          <th>内部销售订单号</th>
          <th>客户采购订单号</th>
          <th>添加数目</th>
          <th>&nbsp;</th>  </tr>
          <%partRels.each do |pl|%>
        
     <tr class="partlines">
          <th><div class="partsthumb"></div></th>
          <th style="text-align:left;" class="spartNr"><%= Part.find(pl.spartId).partNr%></th>
          <th><%= Part.find(pl.cpartId).partNr%></th>
          <th><%= pl.saleNo%></th>
          <th> <%= pl.purchaseNo%></th>
          <th>
          <input type="button" class="addparts gbtn" value="添加零件" onclick="add_pack_info(this,'<%= pl.key%>');"/>
          </th>
     </tr>
     <%end%>
     </tr>
</table>
<div>
     <div class="census" style="color: #9D9D9D;">
          共 <%= @totalCount%> 条
     </div>
</div>
<!-- pager -->
<div class="pagers">
     <%= bri_pager options={:class=>"pagination",:pages=>@totalPages,:current=>@currentPage,:action=>'get_partRels_by_parterNr_partNr'}%>
</div>
<%else%>
<div class="abstractblock">
     无零件信息
</div>
<%end%>