<% if demands%>
<%if demands.items.count>0%>
<div class="tableview" id='tableview'>
     <table class="upData" id="<%= demands.key%>">
          <tr class="lineone">
               <th>&nbsp;</th>
               <th>供应商号</th>
               <th>零件号</th>
               <th>文件日期</th>
               <th>要货日期</th>
               <th>数量</th>
               <th>预测类型</th>
               <th>变动量</th>
          </tr>
          <tr class="divide" style="display: none">
               <th class="nordvd">&nbsp;</th>
               <th class="nordvd"></th>
               <th class="nordvd"></th>
               <th class="nordvd"></th>
               <th class="nordvd"></th>
               <th class="nordvd"></th>
               <th class="nordvd"></th>
               <th class="lastdvd"></th>
          </tr>
          <% i=0
          demands.items.each do |item|
         img,thisLineWidth,lastLineWidth=DemanderHelper::generate_demand_bar(item)
          %>
          <tr class="norline" id="<%= item.key%>">
               <th class="no-type-change"><%= i+=1%></th>
               <th class="no-type-change" id='supplierNr'><%= item.supplierNr%></th>
               <th class="no-type-change" id="partNr"><%= item.cpartNr%></th>
               <th class="no-type-change" id="filedate"><%= item.filedate%></th>
               <th class="no-type-change" id="date"><%= item.date%></th>
               <th class="no-auto-click-bind" id="amount"
               <% if @finished=='false'%>
               ondblclick='reset_demand_amount(this);'
               <%end%>
               ><%= item.amount%></th>
               <th class="no-type-change" id="type"><%= item.type%></th>
               <th class='no-type-change'>
               <div class="forcastcompare">
                    <div class="lineforcast">
                         <% if item.oldamount.nil?%>
                         <span class="percentage"> 首次预测 </span>
                         <% else %>
                         <span class="percentage"> <%= item.rate.to_f.round(2).abs %>% </span>
                         <% end %>
                         <img src="/assets/<%= img%>.png" class='percentageImg' />
                    </div>
                    <div class="lineforcast">
                         <span class="fnumbers">本次预测：<span id="this_demand_amount"><%= item.amount %></span></span>
                         <div class="forcastbaseline">
                              <div class="partline" style="width:<%= thisLineWidth%>%" id='thisLineWidthDiv'></div>
                              <div class="gap"></div>
                         </div>
                    </div>
                    <div class="lineforcast">
                         <span class="fnumbers">上次预测：<%= item.oldamount %></span>
                         <div class="forcastbaseline">
                              <div class="partline" style="width:<%= lastLineWidth%>%" id='lastLineWidthDiv'></div>
                         </div>
                    </div>
               </div></th>
          </tr>
          <%end%>
     </table>
     <div>
          <div class="census" style="color: #9D9D9D;">
               共 <%= @totalCount%> 条
          </div>
     </div>
     <!-- pager -->
     <div class="pagers">
          <%= bri_pager options={:class=>"pagination",:pages=>@totalPages,:current=>@currentPage,:action=>'get_upfile_demands',:target=>demands.key}%>
     </div>

</div>
<%else%>
<p>
     文件中无预测
</p>
<%end%>
<%else%>
<div class="abstractblock">
     文件内容获取错误(可能预测已经被取消)
</div>
<%end%>

