
	<table class="upData">
		<tr class="lineone">
			<% if session[:orgOpeType]==OrgOperateType::Client %>
				<th link="supplier_float" style="cursor: pointer" onclick="pop(this);">供应商号</th>
			<% else %>
				<th link="client_float" style="cursor: pointer" onclick="pop(this);">客户号</th>
			<% end %>
			<th link="partNr_float" style="cursor: pointer" onclick="pop(this);">零件号</th>
			<th link="date_float" style="cursor: pointer" onclick="pop(this);">日期</th>
			<th link="amount_float" style="cursor: pointer" onclick="pop(this);">数量</th>
			<th link="type_float">预测类型</th>
			<th>订单号</th>
			<th link="rate_float">变动量</th>
			<th></th>
		</tr>
		<tr class="divide" style="display: none">
			<th class="nordvd"></th>
			<th class="nordvd"></th>
			<th class="nordvd"></th>
			<th class="nordvd"></th>
			<th class="nordvd"></th>
			<th class="lastdvd"></th>
		</tr>
		<% @demands.each do |d|
	      img,thisLineWidth,lastLineWidth=DemanderHelper::generate_demand_bar(d)
		%>
		  <tr class="norline hoverable">
			<% if session[:orgOpeType]==OrgOperateType::Client %>
				<th><%= d.supplierNr %></th>
				<th><%= d.cpartNr%></th>
			<% else %>
				<th><%= d.clientNr %></th>
				<th><%= d.spartNr%></th>
			<% end %>
			<th><%= FormatHelper::demand_date_outside( d.date, d.type )%></th>
			<th><%= d.amount%></th>
			<th><%= d.type%></th>
			<th><%= d.orderNr%></th>
			<th>  
	               <div class="forcastcompare">
	                     <div class="lineforcast">
                         <% if d.oldamount.nil?%>
                         <span class="percentage"> new </span>
                         <% else %>
                         <span class="percentage"> <%= d.rate.to_f.round(2).abs %>% </span>
                         <% end %>
                         <img src="/assets/<%= img%>.png" class='percentageImg' />
                    </div>
	                    <div class="lineforcast">
	                         <span class="fnumbers">本次预测：<span id="this_demand_amount"><%= d.amount %></span></span>
	                         <div class="forcastbaseline">
	                              <div class="partline" style="width:<%= thisLineWidth%>%" id='thisLineWidthDiv'></div>
	                              <div class="gap"></div>
	                         </div>
	                    </div>
	                    <div class="lineforcast">
	                         <span class="fnumbers">上次预测：<%= d.oldamount %></span>
	                         <div class="forcastbaseline">
	                              <div class="partline" style="width:<%= lastLineWidth%>%" id='lastLineWidthDiv'></div>
	                         </div>
	                    </div>
	               </div>
			</th>
			<th>  <input type="button" class="chartsign" onclick="chart_history('<%= d.key%>');" />   </th>
		  </tr>
		<% end %>
	</table>
	<hr/>
	<div class="census">共 <%= @total %> 条</div>
	<%=bri_pager options={:class=>"pagination",:pages=>@totalPages,:current=>@currentPage,:action=>'demand_search',:target=>@options}%>