
	<table class="demandData">
		<tr class="demandlineone">
			<th link="client_float" style="cursor: pointer" onclick="pop(this);">客户号</th>
			<th link="partNr_float" style="cursor: pointer" onclick="pop(this);">零件号</th>
			<th link="date_float" style="cursor: pointer" onclick="pop(this);">日期</th>
			<th link="amount_float" style="cursor: pointer" onclick="pop(this);">数量</th>
			<th link="type_float" style="cursor: pointer" onclick="pop(this);">预测类型</th>
			<th link="rate_float" style="cursor: pointer" onclick="pop(this);">变动量</th>
		</tr>
		<tr class="divide" style="display: none">
			<th class="nordvd"></th>
			<th class="nordvd"></th>
			<th class="nordvd"></th>
			<th class="nordvd"></th>
			<th class="nordvd"></th>
			<th class="lastdvd"></th>
		</tr>
		<% @demands.each do |d| %>
		  <tr class="demandnorline hoverable">
			<th><%= d.clientNr %></th>
			<th><%= d.relpartId%></th>
			<th><%= d.date%></th>
			<th><%= d.amount%></th>
			<th><%= d.type%></th>
			<th><%= d.key%> Supplier:<%= d.supplierNr%></th>
		  </tr>
		<% end %>
	</table>
	<hr/>
	There is(are) <%= @demands.size %> record(s):<br/>
	<div class="pagination">
		<ul>
			<li class="disabled"><a href="#">Prev</a></li>
			<li class="active"><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">Next</a></li>
		</ul>
	</div>