<%if msg.result%>
<% batch=msg.object%>
<div class="abstractline">
     <p>
          上传文件：
     </p>
     <p>
          共<%= batch.itemCount%>个
     </p>
     <p class="sepstructure filerr">
          ，其中
          <span  id="batch-file-error-count-info-span"><%= batch.errorCount%></span>
          个有错误
     </p>
     <p>
          上传时间：<%= Time.at(batch.created_at.to_i).strftime("%Y-%m-%d %H:%M:%S")%>
     </p>
</div>
<div class="listoffiles">
     <form action='../demander/download' method="post" id="download_demand_form">
          <input type="hidden" value="<%= batch.key%>" id="batchFileId" name="batchFileId"/>
     </form>
     <input type="hidden" value="<%= batch.finished%>" id="batchFileFinished" />
     <% i=0
     batch.items.each do |item|
     #  title,cssclass= item.errorCount>0 ? "查看错误需求": "查看需求"
     %>
     <div class='file' style="cursor:pointer" onclick="get_upfile_demands(this.id,0);" id=<%= item.key%>>
          <span class="filenum currentview"><%= i+=1%></span>
          <span class="filename"><%= item.oriName%></span>
          <% if item.errorCount>0%>
          <span class="filestatus filerr" id="file-error-count-info-span">有<%= item.errorCount%>处错误</span>
          <%else%>
          <span class="filestatus noshowfile"  id="file-error-count-info-span">没有错误</span>
          <%end%>
     </div>
     <%end%>
     <script>
          $('.botbts').show();
     </script>
</div>
<div id="demands">

</div>
<%else%>
<div class="abstractblock">
     <%= msg.content%>
</div>
<%end%>

