<%= form_tag(:controller=>"demander", :action=>"search") do  %>
	Start:<%= text_field_tag :start, nil, :placeholder => "example: 12/10/10 12:23" %>
	End:<%= text_field_tag :end, nil, :placeholder => "example: 12/10/10 12:23" %>
	<br/>
	Client:<%= text_field_tag :client, nil, :placeholder => "example: Leoni" %><br/>
	Supplier:<%= select_tag :supplier,  options_for_select($redis.zrange( "12345:#{Rns::S}", 0, -1, :withscores=>true ).collect { |m,s| [ m, s.to_i ] } ),  prompt: "All" %><br/>
	PartNr:<%= text_field_tag :partNr, nil, :placeholder => "example: 53423233" %><br/>
	Type:<%= text_field_tag :type, nil, :placeholder => "example: D" %>
    <%= submit_tag "Search" %>
<% end %>


<hr/>
<%= form_tag :controller=>"demander", :action=>"create" do  %>
    <div>
    <%= label_tag :id %>
    <%= text_field_tag :id, nil, :placeholder => "example: 001" %>
    </div>
    <div>
    <%= label_tag :client %>
    <%= select_tag :client,  options_for_select($redis.keys( Rns::Org+":*" ).collect { |p| [ $redis.hget(p,"name"), p.delete("#{Rns::Org}:") ] } ) %>
    </div>
    <div>
    <%= label_tag :supplier %>
    <%= select_tag :supplier,  options_for_select($redis.keys( Rns::Org+":*" ).collect { |p| [ $redis.hget(p,"name"), p.delete("#{Rns::Org}:") ] } ) %>
    </div>
    <div>
    <%= label_tag :partNr %>
    <%= text_field_tag :partNr, nil, :placeholder => "example: 53423233" %>
    </div>
    <div>
    <%= label_tag :date %>
    <%= text_field_tag :date, nil, :placeholder => "example: 12/10/10 12:23" %>
    </div>
    <div>
    <%= label_tag :type %>
    <%= text_field_tag :type, nil, :placeholder => "example: D" %>
    </div>
    <%= submit_tag "Create" %>
<% end %>

Class DemandForecast, Method Test : <%= Demander.test(:sdi=>"one", :sed=>"two" )%><br/>
<%= $redis.exists( "client:Leoni" )%>
<%= $redis.zcard( "date" )%><br/>
<%= $redis.keys("client:*")%>
<%= $redis.keys("supplier:*")%>
<%= $redis.keys("part:*")%>

<hr/>
There is(are) <%= @demands.size %> record(s):<br/>
<ul class="projects">
<% @demands.each do |demand| %>
  <li>
  	<div>TYPE:<%= demand.class%></div>
    <div class="info">
   	<% demand.each do |k, v|%>
        <%= k%>: <%= v %>
    <% end %>
    </div>
  </li>
<% end %>
</ul>


