<%= form_tag(:controller=>"demander", :action=>"search") do  %>
	Start:<%= text_field_tag :start, nil, :placeholder => "example: 12/10/10 12:23" %>
	End:<%= text_field_tag :end, nil, :placeholder => "example: 12/10/10 12:23" %>
	<br/>
	Client:<%= text_field_tag :client, nil, :placeholder => "example: Leoni" %><br/>
	Supplier:<%= select_tag :supplier,  options_for_select($redis.zrange( "12345:#{Rns::S}", 0, -1, :withscores=>true ).collect { |m,s| [ m, s.to_i ] } ),  prompt: "All" %><br/>
	PartNr:<%= text_field_tag :partNr, nil, :placeholder => "example: 53423233" %><br/>
	Type:<%= text_field_tag :type, nil, :placeholder => "example: D" %>
    <%= submit_tag "Search" %>
<% end %>


<hr/>
There is(are) <%= @demands.size %> record(s):<br/>
<ul class="projects">
<% @demands.each do |d| %>
  <li>
  	<div>TYPE:<%= d[0].class%></div>
    <div class="info">
   	<%= d[0].key%>
   	Client:<%= d[0].clientNr %>
   	Supplier:<%= d[0].supplierNr %>
   	Part:<%= d[0].relpartId%>
   	Date:<%= d[0].date%>
   	Type:<%= d[0].type%>
   	&nbsp;&nbsp;
   	Score:<%= d[1]%>
    </div>
  </li>
<% end %>
</ul>
