
 	<div class="wareposition"  id="positions_list_id" whid=<%= @whid %> >
 		<p class="ware-p">库位</p>
 		<ul class="ware-ul">
 		    <% @positions.each do |d|	%>
 		    	<li class="ware-li li-big">
 		    		<%= text_field_tag nil, d.nr, :readOnly=>true, :style=>"cursor:default" %>
 		    		<p><%= d.capacity %></p>
 		    		<div class="wh-del del-big" onclick="delete_position(<%= d.id%>, this);"></div>
 		    	</li>
 		    <% end %>
 		    <% @newposi.each do |d|	%>
 		    	<li class="ware-li li-big">
 		    		<% if d.errors.any? %>
 		    			<%= text_field_tag nil, d.nr, :class=>"err-add", :readOnly=>true, :style=>"cursor:default" %>
 		    		<% else %>
 		    			<%= text_field_tag nil, d.nr, :class=>"new-add", :readOnly=>true, :style=>"cursor:default" %>
 		    		<% end %>
 		    		<p><%= d.capacity %></p>
 		    		<div class="wh-del del-big" onclick="remove_position(this);"></div>
 		    	</li>
 		    <% end %>
 		</ul>
 		<div class="wh-add" onclick="save_position();"></div>   		
 	</div>
 	<div class="toggle-btn"></div>
 	<div class="toggle-list" style="display: none">
 		<p class="toggle-p">库位范围</p>
 		<%= text_field_tag :posiStart %>
 		<h1>-</h1>
 		<%= text_field_tag :posiEnd %>
 		<p class="toggle-p">容量</p>
 		<%= text_field_tag :capa %>
 		<button class="btn-normal">删除</button>
 		<button class="btn-normal" onclick="new_position_range();">添加</button>
 		<br /><br />
 		<p class="toggle-p">库位</p>
 		<%= text_field_tag :posiNr %>
 		<p class="toggle-p">容量</p>
 		<%= text_field_tag :capacity %>
 		<button class="btn-normal" onclick="new_position_single();">添加</button>
 	</div>

<script type="text/javascript">
$("document").ready(function() {
	$("div.toggle-btn").click(openfuncright);
});
</script>