
	<table class="upData">
		<tr class="lineone">
			<th></th>
			<th>库位</th>
			<th>容量</th>
		</tr>
		<tr class="divide" style="display: none">
			<th class="nordvd"></th>
			<th class="nordvd"></th>
			<th class="nordvd"></th>
			<th class="nordvd"></th>
			<th class="nordvd"></th>
			<th class="lastdvd"></th>
		</tr>
		<% @positions.each.with_index do |d, index|	%>
		  <tr class="norline hoverable">
		  	<th><%= index+1%></th>
			<th><%= d.nr%></th>
			<th><%= d.capacity%></th>
		  </tr>
		<% end %>
	</table>

	<div style="clear:left"></div>
	<div class="census">共 <%= @total %> 条</div>
	<%=bri_pager options={:class=>"pagination",:pages=>@totalPages,:current=>@currentPage,:action=>'position_list'}%>