
	<table class="upData" >
		<tr class="lineone">
			<th></th>
			<th>编号</th>
			<th>名称</th>
		</tr>
		<tr class="divide" style="display: none">
			<th class="nordvd"></th>
			<th class="nordvd"></th>
			<th class="nordvd"></th>
			<th class="nordvd"></th>
			<th class="nordvd"></th>
			<th class="lastdvd"></th>
		</tr>
		<% i=0 ; @warehouses.each do |d|	%>
		  <tr class="norline hoverable" onclick="position_list(<%= d.id %>)" >
			<th><%= i+=1%></th>
			<th><%= d.nr%></th>
			<th><%= d.name%></th>
			<th><%= button_tag '删除',:name=>"delete_warehouse",:type=>'button',:onclick=>"delete_warehouse(#{d.id});"%></th>
		  </tr>
		<% end %>
	</table>
