
<link rel="stylesheet"  type="text/css" href="/assets/warehouse/primary_warehouse.css" />
<h2 style="margin-top:30px;">基础数据维护</h2>

<div id="warehouses_list">
	<%= render :partial => "warehouses_list"%>	
</div>

<div class="equal-sign">-</div>
<div class="wareposition"   id="positions_list_id" whid=<%= @whid %> >
	<p class="ware-p"><label name="warehouse">当前仓库：</label>&nbsp;未选中</p>
	<button class="btn-normal pull-right show-wareposition" onclick="position_list(0);">显示库位</button>
	<ul class="ware-ul">
		<li class="ware-li li-right"><p><strong>单个添加/删除库位</strong></p></li>
		<li class="ware-li li-right">
			<%= text_field_tag :posiNr, nil, :class=>"ip1", :placeholder=>"输入库位..." %>
			<%= text_field_tag :capacity, nil, :class=>"ip2", :placeholder=>"容量..." %>
			<div class="wh-post btn-normal " style="margin-right:15px;" onclick="delete_position();">删除</div>
			<div class="wh-post btn-normal wh-small-add " onclick="new_position_single();">添加</div>
		</li>
		<li class="ware-li li-right"><p><strong>连续添加/删除库位</strong></p></li>
		<li class="ware-li li-right">
			<%= text_field_tag :posiStart, nil, :class=>"ip1", :placeholder=>"输入库位..." %>
			
		</li>
		 <li class="ware-li li-right">
		 	<p>-</p>
		 	<%= text_field_tag :posiEnd, nil, :class=>"ip1", :placeholder=>"输入库位..." %>
		 	<%= text_field_tag :capa, nil, :class=>"ip2", :placeholder=>"容量..." %>
<!-- 		 	<div class="wh-post btn-normal" >删除</div> -->
		 	<div class="wh-post btn-normal wh-small-add " onclick="new_position_range();">添加</div>
		 </li>
	</ul>
</div>

<div style="clear:left"></div>

<div id="positions_list" class="show-wareposition-list"></div>

<script type="text/javascript">
function ready_new_warehouse(){
	$('#ready_for_new_warehouse').show();
}

function new_warehouse(){
	$.post("../warehouse/primary_warehouse",
		{
			whNr: $('#whNr').val(),
			whName: $('#whName').val()
		},
		function(data){
			if (data.flag)
				$('#warehouses_list').html(data.txt);
			MessageBox(data.msg);
		},
		'json'		
	);
}

function delete_warehouse(whid){
	$.post("../warehouse/delete_warehouse",
		{ whId:whid },
		function(data){
			if (data.flag)
				$('#warehouses_list').html(data.txt);
			MessageBox(data.msg);
		},
		'json'		
	);
}

function current_warehouse(whid, e){
	str = '<label name="warehouse">当前仓库：</label>&nbsp;'+$(e).children(':first').text()  ;
	$('#positions_list_id').attr('whid', whid).children('p').html(str);
	$(e).parent().find('label').removeClass("choosen-li");
	$(e).children('label').addClass("choosen-li");
}

function position_list(page){
	whid = $('#positions_list_id').attr("whid");
	$.get("../warehouse/primary_position?whId="+whid+"&page="+page,	function(data){
			$('#positions_list').html(data);
	});
}

function new_position_range(){
	$.post("../warehouse/new_position_range",
		{
			whId: $('#positions_list_id').attr('whid'),
			posiStart: $('#posiStart').val(),
			posiEnd: $('#posiEnd').val(),
			capa: $('#capa').val(),
		},
		function(data){
			if (data.flag){
				posiStart: $('#posiStart').val("");
				posiEnd: $('#posiEnd').val("");
				capa: $('#capa').val("");
			}
			MessageBox(data.msg);
		},
		'json'		
	);
}

function new_position_single(){
	$.post("../warehouse/new_position_single",
		{
			whId: $('#positions_list_id').attr('whid'),
			posiNr: $('#posiNr').val(),
			capacity: $('#capacity').val()
		},
		function(data){
			if (data.flag){
				posiNr: $('#posiNr').val("");
				capacity: $('#capacity').val("");
			}
			MessageBox(data.msg);
		},
		'json'		
	);
}

function delete_position(){
	$.post("../warehouse/delete_position",
		{
			whId: $('#positions_list_id').attr('whid'),
			posiNr: $('#posiNr').val(),
		},
		function(data){
			if (data.flag){
				posiNr: $('#posiNr').val("");
				capacity: $('#capacity').val("");
			}
			MessageBox(data.msg);
		},
		'json'		
	);
}

</script>