
<br /><br />
仓库:<%= select_tag :whId,  options_for_select(@whlist),  prompt: "请选择仓库..." %>
<br/>
库位:<%= text_field_tag :posiNr %>
<br />
零件号:<%= text_field_tag :partNr %>
<br/>
存量:<%= text_field_tag :stockStart, nil,:size=>5 %>
至<%= text_field_tag :stockEnd, nil,:size=>5 %>
<br/><br />
<%= button_tag '搜索',:class=>"normal-small-btn",:type=>'button',:onclick=>"search_state(0);"%>
<hr/>
<hr/>

<div id="result"></div>

<script type="text/javascript">
function search_state( page ){
	$.post("../warehouse/search_state",
		{
			whId: $('#whId').val(),
			posiNr: $('#posiNr').val(),
			partNr: $('#partNr').val(),
			stockStart: $('#stockStart').val(),
			stockEnd: $('#stockEnd').val(),
			page: page
		},
		function(data){
				$('#result').html(data);
		},
		'html'		
	);
}

</script>