
<br /><br />
<div id="result">请输入条件，并搜索。</div>



<div id="search_expired_vertical_bar" class="filter-bar">
	<div class="filter-box  texts" >
	     <span class="filter-subtitle">仓库</span>
	     <%= select_tag :whId,  options_for_select(@whlist), :class=>"searchcontent",  prompt: "请选择仓库..." %>
	</div>
	<div class="filter-box  texts" >
	     <span class="filter-subtitle">库位</span>
	     <%= text_field_tag :posiNr, nil, :class=>"searchcontent", :placeholder=>"请输入库位"%>
	</div>
	<div class="filter-box  texts">
	     <span class="filter-subtitle">零件号</span>
	     <%= text_field_tag :partNr, nil, :class=>"searchcontent", :placeholder=>"请输入零件号" %>
	</div>
	<div class="filter-box  ranges" >
	     <span class="filter-subtitle">存量</span>
	     <%= text_field_tag :stockStart, nil, :class=>"searchcontent", :placeholder=>"请输入起始存量" %>
	     <%= text_field_tag :stockEnd, nil, :class=>"searchcontent", :placeholder=>"请输入终止存量" %>
	</div>
	<div id="search_expired_button" >
		<%= button_tag '搜索', :class=>"normal-small-btn", :type=>'button', :onclick=>"search_state(0);"%>
	</div>
</div>



<script type="text/javascript">
function search_state( page ){
	$.post("../warehouse/search_state",
		{
			whId: $('#whId').val(),
			posiNr: $('#posiNr').val(),
			partNr: $('#partNr').val(),
			stockStart: $('#stockStart').val(),
			stockEnd: $('#stockEnd').val(),
			page: page
		},
		function(data){
				$('#result').html(data);
		},
		'html'		
	);
}

</script>