
<script type="text/javascript">
function stock_out_list(){
	$.post("../warehouse/stock_out_list",
		{
			whId: $('#whId').val(),
			partNr: $('#partNr').val()
		},
		function(data){
				$('#positions_list').html(data);
		},
		'html'		
	);
}

function stock_out(){
	$.post("../warehouse/stock_out",
		{
			posiId: $('#posiId').val(),
			partNr: $('#partNr').val(),
			amount: $('#amount').val()
		},
		function(data){
				MessageBox(data.msg);
		},
		'json'		
	);
}
	
</script>

Warehouse:<%= select_tag :whId,  options_for_select(@whlist),  prompt: "请选择仓库..." %>
<br/>
partNr:<%= text_field_tag :partNr %>
<br/>
<%= button_tag '库位列表',:name=>"out_list",:type=>'button',:onclick=>"stock_out_list();"%>
<hr/>

posiId:<%= text_field_tag :posiId %>
<br/>
amount:<%= text_field_tag :amount %>
<br/>
<%= button_tag '出库',:name=>"out",:type=>'button',:onclick=>"stock_out();"%>
<hr/>
<div id="result"></div>
<div id="positions_list"></div>
