<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>IFSCM</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="subicons">
		<div class="fixedtop">
			<ul class="subs">
				<li><a href="/welcome"><img src="/assets/homeicon.png"/></a></li>
				<li><img src="/assets/backicon.png"/></li>
				<% if session[:orgOpeType]==OrgOperateType::Client %>
					<li><a href="../demander/demand_upload">上传需求</a></li>
					 <li><a href="../demander">查看需求</a></li>
			          <li><a  href="../delivery">查看运单</a></li>
					<li><a href="../organisation_manager/search">供应商信息</a></li>
					<li>数据分析</li>
					<li>零件入库</li>
				<% elsif session[:orgOpeType]==OrgOperateType::Supplier %>
					<li><a href="../demander">查看需求</a></li>
					<li><a href="#">需求转换</a></li>
					<li>数据分析</li>
					<li><a  href="../delivery/pick_part">发运</a></li>
			          <li><a  href="../delivery">查看运单</a></li>
			          <li><a href="../organisation_manager/search">客户信息</a></li>
				<% end %>
			</ul>
			<p class="greeting">早上好！<%= Staff.find(session[:staff_id]).name %>，您现在代表的是：<%= @cz_org.name%>公司&emsp;<a href="/logout">注销</a></p>
		</div>
	</div>
	
	<div class="lefticons" id="lefticons">
		<div class="hm licon">
			<a>
			      <p  name="headicon" class="headicon" ></p>
			</a>
		</div>
		<div class="cus licon">
		     <a href="../sessions/reload?t=<%=OrgOperateType::Client%>">
			     <p  name="customericon" class="customericon" style=" cursor:pointer;" ></p>
			 </a> 
		</div>
		<div class="sup licon">
		       <a href="../sessions/reload?t=<%=OrgOperateType::Supplier%>">
			 <p  name="suppliericon" class="suppliericon" style=" cursor:pointer;" ></p>
			 </a>
		</div>
	</div>
	
<div class="content">
	  <div class="wrapcontent">
			<%= yield %>
	  </div>
</div>
</body>
</html>
